.feature-header, .feature-header1{
  padding: 0.3rem 0.5rem 0.4rem 0.5rem;
}

.container-button, .container-button-1, .container-button-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container-option, .sub-container-option{
  display: flex;
  align-items: center;
  padding: 0.46rem;
  gap: 0;
}

.sub-container-option {
  padding: 0.52rem;
}


.btn-button {
  width: 10rem;
  padding: 0.3rem 0rem 0.4rem 0rem;
  color: #ffffff;
  font-size: 16px;
  background-color: #003366;
  border: 1px solid #003366;
  cursor: pointer;
}

.ja, .single-tariff {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nein, .double-tariff {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

 .btn-button:hover {
  background-color: #0085e0;
  border: 1px solid #0085e0;
 }

.btn-button.active {
  background-color: #0085e0;
  border: 1px solid #0085e0;
}

.info-icon-home {
  vertical-align: super;
  position: relative;
  margin-left: 1px;
  cursor: pointer;
  color:  #ffffff;
  width: 1em;
  height: 1em;
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 50%;
}

.container-per-year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0rem 0.5rem 0rem;

}

.container-consumption {
  display: flex;
  align-items: center;
  gap: 0.4rem;

}

.consumption-number{
  flex: 1;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  padding: 0.45rem 0.7rem;
  border: 1px solid #4a4949;
  width: 3.5rem;
}


